#main-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	margin: 0.5rem;
	padding: 0.5rem;
	grid-gap: 1.5rem;
}

#header-grid-item {
	grid-row-start: 1;
}

#main-grid-item {
	grid-row-start: 2;
}

#footer-grid-item {
	grid-row-start: 3;
}
