* {
	background: #24252A;	
	font-size: 30px;
	text-align: center;
	color: whitesmoke;

	/* CSS reset */
	/* margin: 0; */
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	min-height: 100vh; /* IMPORTANT! Stretches viewport to 100vh */
	background-color: lightsteelblue;
}

img {
	display: block;
	max-width: 100%;
}

html {
	background-color: #24252A;	
}
